<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="foc_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="4.0985E-05 2.3731E-06 0.020422"
        rpy="0 0 0" />
      <mass
        value="0.31081" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="leg01_left">
    <inertial>
      <origin
        xyz="0.02164360040863 0.00788914396965384 0.00273603004602131"
        rpy="0 0 0" />
      <mass
        value="0.0077756412577186" />
      <inertia
        ixx="8.0974092788803E-07"
        ixy="-7.80181429853995E-07"
        ixz="1.218675201773E-08"
        iyy="2.66576441381465E-06"
        iyz="4.44210517689572E-09"
        izz="3.42452671783294E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg01_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg01_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint01_left"
    type="revolute">
    <origin
      xyz="0.029996029229054 0.0665000000000001 0.0299999999999997"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="leg01_left" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg12_left">
    <inertial>
      <origin
        xyz="-0.049203090372095 0.0378145101791477 0.00253876564892445"
        rpy="0 0 0" />
      <mass
        value="0.0122831195429796" />
      <inertia
        ixx="5.29096991824573E-06"
        ixy="6.12657104175428E-06"
        ixz="7.5631789667521E-09"
        iyy="8.54503047693868E-06"
        iyz="-5.33619455783566E-09"
        izz="1.3777082919851E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg12_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg12_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint12_left"
    type="revolute">
    <origin
      xyz="0.0469765915200995 0.0171230794296379 0.00600000000000017"
      rpy="0 0 0" />
    <parent
      link="leg01_left" />
    <child
      link="leg12_left" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg23_left">
    <inertial>
      <origin
        xyz="-0.0356351666546189 -0.0365072283905235 -0.00343582660253758"
        rpy="0 0 0" />
      <mass
        value="0.0111561368021954" />
      <inertia
        ixx="7.04001293690423E-06"
        ixy="-6.33630644306385E-06"
        ixz="6.79322011961657E-09"
        iyy="6.71701153088307E-06"
        iyz="6.95936065494416E-09"
        izz="1.36906272520062E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg23_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg23_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint23_left"
    type="revolute">
    <origin
      xyz="-0.083282000427136 0.0639461367469102 0"
      rpy="0 0 0" />
    <parent
      link="leg12_left" />
    <child
      link="leg23_left" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="tire_left">
    <inertial>
      <origin
        xyz="1.35030875370035E-14 3.69149155687865E-15 0.0133518971401625"
        rpy="0 0 0" />
      <mass
        value="0.0328045076876881" />
      <inertia
        ixx="6.3144578615962E-06"
        ixy="-5.29395592033938E-23"
        ixz="1.27833848155711E-21"
        iyy="6.3144578615962E-06"
        iyz="-6.68782135783803E-23"
        izz="1.05787727489276E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/tire_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/tire_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_tire_left"
    type="revolute">
    <origin
      xyz="-0.0832820004271731 0.0639461367469053 0.00950000000000407"
      rpy="0 0 0" />
    <parent
      link="leg12_left" />
    <child
      link="tire_left" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg04_left">
    <inertial>
      <origin
        xyz="-0.0133917854196739 0.00159940244044304 0.00673551057779107"
        rpy="0 0 0" />
      <mass
        value="0.0104336042175876" />
      <inertia
        ixx="8.27801977631823E-07"
        ixy="2.85522635646174E-07"
        ixz="1.28795591098106E-08"
        iyy="3.18438057702784E-06"
        iyz="-1.53822642959961E-09"
        izz="3.96277069997221E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg04_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg04_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint04_left"
    type="revolute">
    <origin
      xyz="-0.0300039707709461 0.0665000000000001 0.0299999999999997"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="leg04_left" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg43_left">
    <inertial>
      <origin
        xyz="0.0377065967962982 0.0386325462558629 -0.00343582660253766"
        rpy="0 0 0" />
      <mass
        value="0.0111561368021954" />
      <inertia
        ixx="7.04001293690422E-06"
        ixy="-6.33630644306385E-06"
        ixz="6.79322011961829E-09"
        iyy="6.71701153088307E-06"
        iyz="6.95936065494606E-09"
        izz="1.36906272520062E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg43_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg43_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint43_left"
    type="revolute">
    <origin
      xyz="-0.0496471723579536 0.0059294415301617 0.00600000000000026"
      rpy="0 0 0" />
    <parent
      link="leg04_left" />
    <child
      link="leg43_left" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg1_right">
    <inertial>
      <origin
        xyz="-0.0227911887514544 -0.00335346783462503 -0.00273603004602133"
        rpy="0 0 0" />
      <mass
        value="0.0077756412577186" />
      <inertia
        ixx="5.76746542351136E-07"
        ixy="-3.49218596514838E-07"
        ixz="1.28329211282965E-08"
        iyy="2.89875879935154E-06"
        iyz="1.88821568132457E-09"
        izz="3.42452671783294E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg1_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg1_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint01_right"
    type="revolute">
    <origin
      xyz="-0.0300039707709461 -0.0664999999999999 0.0300000000000001"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="leg1_right" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg12_right">
    <inertial>
      <origin
        xyz="0.0457106331447956 0.0419692661331571 -0.00253876564892457"
        rpy="0 0 0" />
      <mass
        value="0.0122831195429796" />
      <inertia
        ixx="6.3824076492169E-06"
        ixy="-6.31626795518505E-06"
        ixz="7.06796980851464E-09"
        iyy="7.45359274596755E-06"
        iyz="5.97665886833488E-09"
        izz="1.37770829198511E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg12_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg12_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint12_right"
    type="revolute">
    <origin
      xyz="-0.0494673872070477 -0.00727857148813968 -0.00600000000000005"
      rpy="0 0 0" />
    <parent
      link="leg1_right" />
    <child
      link="leg12_right" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg23_right">
    <inertial>
      <origin
        xyz="0.0398704372266141 -0.0318275205226357 0.00343582660253709"
        rpy="0 0 0" />
      <mass
        value="0.0111561368021954" />
      <inertia
        ixx="5.48222134154417E-06"
        ixy="6.18265586632698E-06"
        ixz="7.60058755499205E-09"
        iyy="8.27480312624313E-06"
        iyz="-6.06725713466105E-09"
        izz="1.36906272520062E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg23_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg23_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint23_right"
    type="revolute">
    <origin
      xyz="0.0773757935946784 0.0709787754585397 0"
      rpy="0 0 0" />
    <parent
      link="leg12_right" />
    <child
      link="leg23_right" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="tire_right">
    <inertial>
      <origin
        xyz="9.25648446781224E-15 -1.94289029309402E-16 -0.0133518971401667"
        rpy="0 0 0" />
      <mass
        value="0.0328045076876881" />
      <inertia
        ixx="6.31445786159621E-06"
        ixy="-1.16467030247466E-21"
        ixz="-6.83290103793549E-22"
        iyy="6.3144578615962E-06"
        iyz="-1.14811379690367E-20"
        izz="1.05787727489276E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/tire_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/tire_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_tire_right"
    type="revolute">
    <origin
      xyz="0.0773757935946757 0.0709787754585395 -0.00949999999999949"
      rpy="0 0 0" />
    <parent
      link="leg12_right" />
    <child
      link="tire_right" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg04_right">
    <inertial>
      <origin
        xyz="0.0134781355327333 -0.000487716571957592 -0.00673551057779109"
        rpy="0 0 0" />
      <mass
        value="0.0104336042175876" />
      <inertia
        ixx="7.96872427235464E-07"
        ixy="8.76277457522418E-08"
        ixz="1.29626063921825E-08"
        iyy="3.21531012742419E-06"
        iyz="-4.69061758427244E-10"
        izz="3.96277069997219E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg04_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg04_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint04_right"
    type="revolute">
    <origin
      xyz="0.0299960292290539 -0.0664999999999999 0.0300000000000001"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="leg04_right" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg43_right">
    <inertial>
      <origin
        xyz="-0.042188453268668 0.0336807880395871 0.00343582660253713"
        rpy="0 0 0" />
      <mass
        value="0.0111561368021954" />
      <inertia
        ixx="5.48222134154417E-06"
        ixy="6.18265586632698E-06"
        ixz="7.60058755497661E-09"
        iyy="8.27480312624313E-06"
        iyz="-6.06725713464752E-09"
        izz="1.36906272520062E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg43_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf/meshes/leg43_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint43_right"
    type="revolute">
    <origin
      xyz="0.0499672968829129 -0.00180810459182268 -0.00600000000000014"
      rpy="0 0 0" />
    <parent
      link="leg04_right" />
    <child
      link="leg43_right" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>