<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="foc_urdf_1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="4.0985E-05 2.3731E-06 0.020422"
        rpy="0 0 0" />
      <mass
        value="0.31081" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="leg01_left">
    <inertial>
      <origin
        xyz="0.0230365078129693 -5.77841267789814E-05 0.00273603004602134"
        rpy="0 0 0" />
      <mass
        value="0.0077756412577186" />
      <inertia
        ixx="5.25378196879498E-07"
        ixy="6.08222231818062E-09"
        ixz="1.29710510308301E-08"
        iyy="2.95012714482318E-06"
        iyz="-3.25315204809691E-11"
        izz="3.42452671783294E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg01_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg01_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint01_left"
    type="revolute">
    <origin
      xyz="0.029996029229054 0.0665000000000001 0.0299999999999997"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="leg01_left" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg12_left">
    <inertial>
      <origin
        xyz="-0.0336865930543518 0.0521161657323712 0.00253876564892448"
        rpy="0 0 0" />
      <mass
        value="0.0122831195429796" />
      <inertia
        ixx="9.52501582941568E-06"
        ixy="5.77802472779415E-06"
        ixz="5.33772807795868E-09"
        iyy="4.31098456576876E-06"
        iyz="-7.56209676002349E-09"
        izz="1.37770829198511E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg12_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg12_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint12_left"
    type="revolute">
    <origin
      xyz="0.0499998427019947 -0.00012541840275665 0.00600000000000017"
      rpy="0 0 0" />
    <parent
      link="leg01_left" />
    <child
      link="leg12_left" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg23_left">
    <inertial>
      <origin
        xyz="-0.0436651884665353 -0.0263817009201858 -0.00343582660253761"
        rpy="0 0 0" />
      <mass
        value="0.0111561368021954" />
      <inertia
        ixx="3.93747605392217E-06"
        ixy="-5.61472777662321E-06"
        ixz="8.32397725561923E-09"
        iyy="9.81954841386516E-06"
        iyz="5.02910956005743E-09"
        izz="1.36906272520063E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg23_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg23_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint23_left"
    type="revolute">
    <origin
      xyz="-0.0570383994400206 0.0881567977487877 0"
      rpy="0 0 0" />
    <parent
      link="leg12_left" />
    <child
      link="leg23_left" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="tire_left">
    <inertial>
      <origin
        xyz="2.75779399316889E-13 1.41858746971479E-13 0.0133518971400557"
        rpy="0 0 0" />
      <mass
        value="0.0328045076876881" />
      <inertia
        ixx="6.3144578615962E-06"
        ixy="1.16467030247466E-21"
        ixz="-2.15944805916845E-22"
        iyy="6.3144578615962E-06"
        iyz="-3.82565751391236E-20"
        izz="1.05787727489276E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/tire_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/tire_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tire_left"
    type="revolute">
    <origin
      xyz="-0.0570383994403243 0.0881567977486455 0.00950000000011297"
      rpy="0 0 0" />
    <parent
      link="leg12_left" />
    <child
      link="tire_left" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg04_left">
    <inertial>
      <origin
        xyz="-0.00995551655892177 0.00909866445903532 0.00673551057779107"
        rpy="0 0 0" />
      <mass
        value="0.0104336042175876" />
      <inertia
        ixx="1.89727084068589E-06"
        ixy="1.20749615395569E-06"
        ixz="9.57472509983297E-09"
        iyy="2.11491171397377E-06"
        iyz="-8.75064698604971E-09"
        izz="3.9627706999722E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg04_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg04_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint04_left"
    type="revolute">
    <origin
      xyz="-0.0300039707709461 0.0665000000000001 0.0299999999999997"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="leg04_left" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg43_left">
    <inertial>
      <origin
        xyz="0.0462041973157181 0.0279183313000666 -0.00343582660253752"
        rpy="0 0 0" />
      <mass
        value="0.0111561368021954" />
      <inertia
        ixx="3.93747605392217E-06"
        ixy="-5.61472777662321E-06"
        ixz="8.32397725562076E-09"
        iyy="9.81954841386516E-06"
        iyz="5.02910956005849E-09"
        izz="1.36906272520063E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg43_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg43_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint43_left"
    type="revolute">
    <origin
      xyz="-0.0369079425202793 0.0337313471257785 0.0060000000000001"
      rpy="0 0 0" />
    <parent
      link="leg04_left" />
    <child
      link="leg43_left" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg1_right">
    <inertial>
      <origin
        xyz="-0.0227911887514544 -0.00335346783462503 -0.00273603004602133"
        rpy="0 0 0" />
      <mass
        value="0.0077756412577186" />
      <inertia
        ixx="5.76746542351135E-07"
        ixy="-3.49218596514838E-07"
        ixz="1.28329211282965E-08"
        iyy="2.89875879935154E-06"
        iyz="1.88821568132457E-09"
        izz="3.42452671783294E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg1_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg1_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint01_right"
    type="revolute">
    <origin
      xyz="-0.0300039707709461 -0.0664999999999999 0.0300000000000001"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="leg1_right" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg12_right">
    <inertial>
      <origin
        xyz="0.045710633144795 0.0419692661331561 -0.00253876564892457"
        rpy="0 0 0" />
      <mass
        value="0.0122831195429796" />
      <inertia
        ixx="6.3824076492169E-06"
        ixy="-6.31626795518505E-06"
        ixz="7.06796980851462E-09"
        iyy="7.45359274596755E-06"
        iyz="5.97665886833486E-09"
        izz="1.37770829198511E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg12_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg12_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint12_right"
    type="revolute">
    <origin
      xyz="-0.0494673872070477 -0.00727857148813968 -0.00600000000000005"
      rpy="0 0 0" />
    <parent
      link="leg1_right" />
    <child
      link="leg12_right" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg23_right">
    <inertial>
      <origin
        xyz="0.039870437226613 -0.0318275205226369 0.00343582660253711"
        rpy="0 0 0" />
      <mass
        value="0.0111561368021954" />
      <inertia
        ixx="5.48222134154417E-06"
        ixy="6.18265586632697E-06"
        ixz="7.60058755499205E-09"
        iyy="8.27480312624312E-06"
        iyz="-6.06725713466102E-09"
        izz="1.36906272520062E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg23_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg23_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint23_right"
    type="revolute">
    <origin
      xyz="0.0773757935946784 0.0709787754585397 0"
      rpy="0 0 0" />
    <parent
      link="leg12_right" />
    <child
      link="leg23_right" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="tire_right">
    <inertial>
      <origin
        xyz="9.25648446781224E-15 -1.94289029309402E-16 -0.0133518971401667"
        rpy="0 0 0" />
      <mass
        value="0.0328045076876881" />
      <inertia
        ixx="6.31445786159621E-06"
        ixy="-1.05879118406788E-21"
        ixz="-6.7093642611538E-22"
        iyy="6.3144578615962E-06"
        iyz="-1.14649589270428E-20"
        izz="1.05787727489276E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/tire_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/tire_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tire_right"
    type="revolute">
    <origin
      xyz="0.0773757935946757 0.0709787754585395 -0.00949999999999949"
      rpy="0 0 0" />
    <parent
      link="leg12_right" />
    <child
      link="tire_right" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg04_right">
    <inertial>
      <origin
        xyz="0.0134781355327303 -0.000487716571959174 -0.00673551057779109"
        rpy="0 0 0" />
      <mass
        value="0.0104336042175876" />
      <inertia
        ixx="7.96872427235464E-07"
        ixy="8.76277457522419E-08"
        ixz="1.29626063921825E-08"
        iyy="3.21531012742419E-06"
        iyz="-4.6906175842721E-10"
        izz="3.96277069997219E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg04_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg04_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint04_right"
    type="revolute">
    <origin
      xyz="0.0299960292290539 -0.0664999999999999 0.0300000000000001"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="leg04_right" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leg43_right">
    <inertial>
      <origin
        xyz="-0.042188453268669 0.0336807880395859 0.00343582660253713"
        rpy="0 0 0" />
      <mass
        value="0.0111561368021954" />
      <inertia
        ixx="5.48222134154417E-06"
        ixy="6.18265586632697E-06"
        ixz="7.60058755497661E-09"
        iyy="8.27480312624312E-06"
        iyz="-6.0672571346475E-09"
        izz="1.36906272520062E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg43_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://foc_urdf_1/meshes/leg43_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint43_right"
    type="revolute">
    <origin
      xyz="0.0499672968829129 -0.00180810459182268 -0.00600000000000014"
      rpy="0 0 0" />
    <parent
      link="leg04_right" />
    <child
      link="leg43_right" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>