<launch>
  <!-- Launch Gazebo with an empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!-- Load robot_description parameter -->
  <param name="robot_description" textfile="$(find foc_urdf)/urdf/foc_urdf.urdf" />

  <!-- Spawn robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model foc -x 0 -y 0 -z 1" />

  <!-- Load controllers -->
  <rosparam file="$(find foc_urdf)/config/controllers.yaml" command="load" />

  <!-- Start controller -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        respawn="false" output="screen"
        args="joint_state_controller
              joint01_left_effort_controller
              joint01_right_effort_controller
              joint04_left_effort_controller
              joint04_right_effort_controller
              joint_tire_left_effort_controller
              joint_tire_right_effort_controller" />


</launch>
